.container{
    width:100px;
    border-radius:10px;
    padding:20px;
    background:black;
    margin:20px auto;
}
.light{
    width:60px;
    height:60px;
    border-radius:50%;
    background:#444;
    margin:10px auto;
}

.red.active{
    background:red;
}

.green.active{
    background:green;
}

.yellow.active{
    background:yellow;
}